  @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

  body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, linen, lightSteelBlue);
  }
  
  .invisible{
    filter: opacity(0.1);
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  ul{
    padding-left: 0px;
  }
  
  li{
    list-style: none;
    margin: 1vw 0;
  }
  
  .square{
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 10px; 
  }
  
  @keyframes animateY{
    0%, 100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
  }
  
  @keyframes animateY-2{
    0%, 100%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(-40px);
    }
  }
  
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  @keyframes reverse-rotate {
    0%{
      transform: rotate(90deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }
  
  .img-bg{
    background-color: rgba(214, 183, 181, 0.8) !important;
  }
  
  /* title */
  .one{
    position: absolute;
    right: 5em;
    top: 3em;
    z-index: -1;
  }
  
  .two{
    position: absolute;
    right:22em;
    top: 10em;
    z-index: -1;
  }
  
  .header h1{                  /*popover*/
    position: absolute;
  }
  
  .title{
    position: absolute;
    top: 9vw;
    left: 12vw;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: xx-large;
  }
  
  .inner1{
    animation: animateY 5s linear infinite;
  
  }
  
  .inner2{
    position: relative;
    top: 30px;
    animation: animateY-2 5s linear infinite;
  }
  
  .inner3{
    position: relative;
    top: 60px;
    animation: animateY 3s linear infinite;
  }
  
  .hint{
    position: absolute;
    top: 10vw;
    right: 12vw;
  }
  
  /* main */
  
  .main li{
    /* border: 1px solid black; */
    border-radius: 50%;
    background-color: rgba(214, 183, 181, 0.8);
    padding-left: 20px;
    width: 7vw;
    height: 7vw;
    animation: reverse-rotate .2s;
    animation-fill-mode: both ;
  }
  
  .player li:hover{
    background-color: rgba(214, 183, 181, 0.8 ) !important;
    animation: rotate .2s;
    animation-fill-mode: both;
  }
  
  .player li:active{
    position:relative;
      top:10px;
  }
  
  .com li{
    transform: rotate(-90deg) scaleX(-1) !important;
  }
  
  .main li:nth-child(3){
    padding-left: 28px;
  }
  
  .main img{
    width: 5vw;
    height: 5vw;
    margin: 0.95vw 0;
    /* border: 1px solid black; */
    /* background-color: rgba(255, 45, 45, 0.5); */
    /* border-radius: 50%; */
  }
  
  .img-container{
    width: fit-content;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid rgb(255, 238, 0); */
  }
  
  /* .header{
    width: 99%;
    height: 25px;
    border: 1px solid magenta;
  }
  
  .hint{
    width: 8%;
    height: 20px;
    border: 1px solid cyan;
    float: right;
  } */
  
  
  .main{
    width: 100%;
    height: 62%;
    margin-bottom: 1vw;
    /* border: 1px solid magenta; */
  }
  
  .frame{
    /* From https://css.glass */
    position: relative;
    z-index: 1;
  
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  
    width: 50%;
    height: 35em;
    transform: translateY(2.2vw);
    margin: auto auto;
    display: flex;
    justify-content: center;
  }
  
  .box{
    width: 12vw;
    height: 25vw;
    /* border: 1px solid greenyellow; */
    margin: auto 5em;
  }
  
  .result{
    width: 4em;
    height: 4em;
    background-color: rgba(107, 107, 107, 0.5);
    margin: auto 0;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 2rem;
  }
  
  .result:hover{
    cursor: pointer;
    background-color: rgba(107, 107, 107, 0.5);
  }
  
  .result:active{
    position: relative;
    top: 10px;
  }

  .three{
    width: 200px;
    height: 200px;
    padding: 10px;
    position: absolute;
    right: 5em;
    bottom: 25em;
    z-index: 5;
  }
  
  /* form */
  .form{
    position: relative;
    width: 100%;
    height: 100%;
    /* padding: 40px; */
  }

  .form h3 {
    position: relative;
    color: #131313;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    /* margin-bottom: 40px; */
  } 

  .form h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #f1f4f9;
  }

  .form .inputbox{
    width: 100%;
    /* margin-top: 20px; */
  }

  .form .inputbox input{
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(141, 141, 141);
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); */
  }

  .form .inputbox input[type="submit"]{
    background: #ffffff;
    color: rgb(141, 141, 141);
    max-width: 100px;
    cursor: pointer;
    margin: 30px 0;
    font-weight: 600;
    float: right;
  }